@use "mixins" as *;
.analytics-page {
  @include pageReset;
  padding: 0;
  .header {
    background-color: #16213e;
    border-radius: 24px 24px 0 0;
    padding: 14px;
    opacity: 0.8;
    margin-bottom: 20px;
    font-family: "Times New Roman";
    font-style: italic;
    h2 {
      font-size: 1.9rem;
    }
  }
  .box {
    display: flex;
    padding: 7px;
    align-items: center;
    gap: 3rem;
    .chart {
      width: 100%;
      max-width: 700px;
    }
    .highlight-section {
      font-size: 13px;
      h1 {
        @include webkitText;
      }
      li {
        // font-size: 14px;
        opacity: 0.8;
      }
    }
  }
}
