@use "mixins" as *;

.how_it_works {
  @include pageReset;
  h1 {
    @include webkitText;
  }
  .box {
    padding: 20px;
    padding-top: 0 !important;
    .item {
      margin-top: 20px;
      font-family: "Times New Roman";
      p {
        font-size: 22px;
        margin-bottom: -4px;
      }
      span {
        font-size: 17px;
      }
    }
  }
  @media (max-width: 883px) {
    .box {
      padding: 5px;
    }
  }
}
