@use "mixins" as *;
.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0px 0 0 390px;
  padding: 40px 20px;
  z-index: 999;

  .loadingMssg {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .loader {
      & > .letter {
        color: #ff6a1a;
        font-weight: bold;
        font-size: 2rem;
      }
      p {
        font-size: 18px;
      }
    }
  }
}
