@use "mixins" as *;
.loading-page {
  @include popUpBackground;

  .loadingMssg {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .loader {
      & > .letter {
        color: #ff6a1a;
        font-weight: bold;
        font-size: 2rem;
      }
      p {
        font-size: 18px;
      }
    }
  }
  @media (max-width: 883px) {
    margin: 40px 0;
    margin-top: 0px;
  }
}
