@use "mixins" as *;
.logSession-page {
  @include pageReset;
  header {
    @include headerStyle;
  }
  form {
    margin-top: 40px;
    fieldset {
      @include fieldsetStyle;
      input {
        @include inputStyle;
      }
    }
    .errorMssg {
      color: red;
      font-size: 13px;
    }
  }
  button {
    @include btnStyle;
    width: 100%;
    margin-top: 30px;
  }
  .logSession_list {
    background: rgba(30, 30, 40, 0.8);
    border-radius: 5px;
    // padding: 48px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .logPracticeCard {
      background: linear-gradient(
        135deg,
        rgba(255, 106, 26, 0.1),
        rgba(255, 140, 66, 0.05)
      );
      border: 1px solid rgba(255, 106, 26, 0.1);
      padding: 10px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      span {
        opacity: 0.6;
        font-size: 15px;
        font-weight: bold;
      }
    }
    .no_log {
      background-color: rgba(45, 45, 51, 0.699);
      opacity: 0.28;
      padding: 20px;
      display: flex;
      flex-direction: column;
      border: 2px solid rgba(238, 90, 10, 0.788);
      align-items: center;
      border-radius: 10px;
    }
  }
  @media (max-width: 883px) {
    padding: 40px 24px;
    margin: 40px 0;
    margin-top: 60px;
  }
}
