@use "mixins" as *;
.logSession-page {
  @include pageReset;
  header {
    @include headerStyle;
    @media (min-width: 883px) {
      margin-top: 0.7rem;
    }
  }
  form {
    margin-top: 40px;
    fieldset {
      @include fieldsetStyle;
      input {
        @include inputStyle;
      }
      .footer {
        @media (max-width: 412px) {
          font-size: 13px;
        }
      }
    }
    .errorMssg {
      color: red;
      font-size: 13px;
    }
  }
  button {
    @include btnStyle;
    width: 100%;
    margin-top: 30px; display: flex;
        align-items: center;
        gap: 10px;
         .loader{
          width: 20px;
          height: 20px;
          border: 3px solid white;
          border-top: 3px solid red;
          border-left: 3px solid red;
          border-radius: 50%;
          animation: spin 1s linear infinite ;
        }
  }
  .logSession_list {
    background: rgba(30, 30, 40, 0.8);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .logPracticeCard {
      background: linear-gradient(
        135deg,
        rgba(255, 106, 26, 0.1),
        rgba(255, 140, 66, 0.05)
      );
      border: 1px solid rgba(255, 106, 26, 0.1);
      padding: 10px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      span {
        opacity: 0.6;
        font-size: 15px;
        font-weight: bold;
      }
    }
    .no_log {
      background-color: rgba(45, 45, 51, 0.699);
      opacity: 0.28;
      padding: 20px;
      display: flex;
      flex-direction: column;
      border: 2px solid rgba(238, 90, 10, 0.788);
      align-items: center;
      border-radius: 10px;
    }
  }
  @media (max-width: 883px) {
  }
  @media (max-width: 638px) {
    header {
      h1 {
        font-size: 28px;
      }
    }
    .field_container {
      flex-direction: column;
    }
  }
  @media (max-width: 438px) {
    header {
      h1 {
        font-size: 23px;
        margin-top: 0.8rem;
      }
    }
  }
}


@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}