@use "mixins" as *;
.narration-page {
  @include pageReset;
  header {
    @include headerStyle;
    // text-align: center;
  }
  .card_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    // margin-top: 48px;
    & > :first-child {
      grid-column: 1 / -1;
    }
    .item_card {
      background: rgba(25, 25, 35, 0.8);
      border-radius: 20px;
      padding: 32px 24px;
      border: 1px solid rgba(255, 255, 255, 0.05);
      display: flex;
      flex-direction: column;
    }
  }
  // .response {
  //   p {
  //     margin-bottom: 2rem;
  //   }
  //   .response-card {
  //     background: rgba(25, 25, 35, 0.8);
  //     border: 2px solid rgba(236, 86, 4, 0.61);
  //     // color: red;
  //     opacity: 0.6;
  //     border-radius: 24px;
  //     padding: 40px;
  //     margin: 20px 0;
  //     // display: flex;
  //     // flex-direction: column;
  //     // gap: 5px;
  //     p {
  //       margin: 7px 0;
  //     }
  //     .sub-title {
  //       text-decoration: underline;
  //     }
  //     ul {
  //       margin-top: 4px;
  //       li {
  //         list-style-type: none;
  //       }
  //     }
  //   }
  // }
}
