@use "mixins" as *;
.narration-page {
  @include pageReset;
  header {
    h1 {
      @include headerStyle;
      font-size: 2.5rem;
      margin-bottom: 7px;
      line-height: 1.2;
      letter-spacing: -1px;
      @include webkitText;
    }
    text-align: start;
    p {
      display: flex;
      flex-direction: column;
      margin-bottom: 12px;
      span {
        text-decoration: underline;
      }
    }
  }
  .card_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 51px;
    & > :first-child {
      grid-column: 1 / -1;
    }
    .item_card {
      background: rgba(25, 25, 35, 0.8);
      border-radius: 20px;
      padding: 32px 24px;
      border: 1px solid rgba(255, 255, 255, 0.05);
      display: flex;
      flex-direction: column;
      b {
        text-decoration: underline;
      }
      ol {
        padding: 20px;
        li {
          p {
            text-decoration: underline;
          }
        }
      }
    }
    .error {
      opacity: 0.6;
      // padding: 20px;
      margin-top: -1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      span {
        em {
          color: #ff6a1a;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
