@use "mixins" as *;
.narration-page {
  @include pageReset;
  header {
    .agent_insight {
      // text-align: center;
      margin-top: -1rem;
      margin-bottom: 20px;
      background: linear-gradient(
        135deg,
        #16162c 0%,
        #1a1a58 50%,
        #0b1d4e 100%
      );
      border-radius: 7px;
      padding: 10px;
      ul {
        margin-top: 20px;
        background-color: #25252ba6;
        color: white;
        padding: 8px;
        padding-left: 30px;
        border-radius: 5px;
        li{
          padding: 6px;
          list-style-type: circle;
        }
      }
    }
    h1 {
      @include headerStyle;
      font-size: 2.5rem;
      margin-bottom: 7px;
      line-height: 1.2;
      letter-spacing: -1px;
      @include webkitText;
    }
    text-align: start;
    p {
      display: flex;
      flex-direction: column;
      margin-bottom: 12px;
      span {
        text-decoration: underline;
      }
    }
    .version {
      position: relative;
      strong {
        background-color: #15285f9d;
        padding: 20px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        position: absolute;
        top: -2.5rem;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.5px;
        opacity: 0.8;
        span {
          font-size: 1.3rem;
          font-weight: bold;
        }
      }
    }
  }
  .card_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 51px;
    & > :first-child {
      grid-column: 1 / -1;
    }
    .item_card {
      background: rgba(25, 25, 35, 0.8);
      border-radius: 20px;
      padding: 32px 24px;
      border: 1px solid rgba(255, 255, 255, 0.05);
      display: flex;
      flex-direction: column;
      b {
        text-decoration: underline;
      }
      ol {
        padding: 20px;
        li {
          p {
            text-decoration: underline;
          }
        }
      }
    }
    .error {
      @include errorStyle;
    }
  }
  @media (max-width: 883px) {
    header {
      .agent_insight {
        margin-top: 0;
      }
      .version {
        strong {
          top: -4rem;
        }
      }
      h1 {
        margin-bottom: 20px;
      }
    }
    .card_container {
      grid-template-columns: 1fr;
      & > :first-child {
        grid-column: auto;
      }
    }
  }
  @media (max-width: 585px) {
    header {
      h1 {
        // align-items: start;
        text-align: start;
        margin-bottom: 30px;
        &::after {
          left: 20%;
        }
        .version {
          strong {
            top: -4.3rem;
          }
        }
      }
    }
  }
}
