.page-nav {
  background-color: #16213e;
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  text-align: end;
  padding: 8px 50px;
  z-index: 1;
  h1 {
    font-size: 28px;
    font-weight: 800;
    letter-spacing: -0.5px;
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 3px;
      background: linear-gradient(90deg, #ff6a1a, #ff8c42);
      border-radius: 2px;
    }
  }
  button {
    background-color: transparent;
    border: none;
    color: #cfcbcb;
    cursor: pointer;
  }
  @media (max-width: 883px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    // padding: 8px 0px;
  }
}
