.page-nav {
  background-color: #16213e;
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 8px 50px;
  z-index: 1;
  span {
    margin-left: 40rem;
    .no_ID {
      font-size: 14px;
      opacity: 0.8;
      font-weight: bold;
    }
    @media (max-width: 1220px) {
      margin-left: 35rem;
    }
    @media (max-width: 1140px) {
      margin-left: 30rem;
    }
    @media (max-width: 1060px) {
      margin-left: 23rem;
    }
  }
  h1 {
    font-size: 28px;
    font-weight: 800;
    letter-spacing: -0.5px;
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 3px;
      background: linear-gradient(90deg, #ff6a1a, #ff8c42);
      border-radius: 2px;
    }
  }
  button {
    background-color: transparent;
    border: none;
    color: #cfcbcb;
    cursor: pointer;
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 7px;
    span {
      margin-left: 0 !important;
      @media (max-width: 523px) {
        word-wrap: break-word;
        text-align: right;
        font-size: 14px;
      }
    }
    .no_ID {
      font-size: 14px;
      opacity: 0.8;
      font-weight: bold;
      text-align: right;
    }
  }
  @media (max-width: 883px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  @media (max-width: 521px) {
    align-items: start;
    .menu-icon {
      margin-top: 10px;
    }
  }
}
