@use "mixins" as *;
.sessionModal {
  @include popUpBackground;

  .text {
    background: linear-gradient(135deg, #1a1a2e 50%, #16213e 100%);
    border: 1px solid rgba(250, 96, 14, 0.651);
    max-width: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    text-align: center;
    .cancel-btn {
      background-color: transparent;
      border-radius: 50px;
      padding: 6px;
      background-color: #0b1224;
      position: absolute;
      top: 5px;
      right: 10px;
      cursor: pointer;
    }
    p {
      opacity: 0.8;
      &:first-of-type {
        margin-top: 10px;
      }
    }

    .session_field {
      background-color: #082b8d77;
      //   padding: 10px;
      margin-top: 20px;
      width: 100%;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 5px;
      button {
        padding: 10px 10px;
        background-color: #ff6a1a;
        border: none;
        border-radius: 3px;
        color: white;
        font-size: 16px;
        font-weight: bold;
        font-family: "Times New Roman";
        font-style: italic;
        cursor: pointer;
        span {
          display: flex;
          align-items: center;
          gap: 4px;
        }
      }
    }
  }
}
