.sidebar {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: rgba(25, 25, 35, 0.95);
  border-right: 2px solid rgba(255, 106, 26, 0.2);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 30px 20px;
  z-index: 2;
  button {
    background: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 14px 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    &:hover {
      background-color: rgba(255, 106, 26, 0.1);
    }
    &.active {
      background-color: #ff6a1a;
    }
  }
}
