@use "mixins" as *;

.timeline_page {
  @include pageReset;
  display: flex;
  align-items: center;
  flex-direction: column;
  header {
    width: 100%;
    margin-bottom: 2rem;
    h1 {
      @include webkitText;
      display: flex;
      align-items: flex-start;
    }
  }
  .timeline_details {
    // background-image: url("../public/grid1.avif");
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.2) 1px,
        transparent 1px
      ),
      linear-gradient(
        to right,
        transparent calc(50px - 1px),
        #ccc calc(50px - 1px),
        #ccc 50px,
        transparent 50px
      );

    background-size: 50px 50px;
    border-left: 3px solid red;
    width: 100%;
    max-width: 600px;
    min-height: 400px;
    position: relative;
    flex: 1;
    padding: 2rem 0;
    margin-left: 100px;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background-color: #ccc;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: #ccc;
    }

    .timeline_card {
      display: flex;
      align-items: flex-start;
      position: relative;
      .card_details {
        background: rgba(30, 30, 40, 3);
        border-radius: 24px;
        padding: 20px;
        margin-left: 20px;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-10px);
        transition: all 0.3s ease;
        position: relative;
        z-index: 2;
        min-width: 300px;
      }
      .circle-section {
        display: flex;
        align-items: center;
        gap: 5px;
        position: absolute;
        left: -95px;
        width: 100px;
        z-index: 1;
        p {
          margin: 0;
          font-weight: bold;
          text-align: left;
        }

        .circle {
          background-color: blue;
          width: 100%;
          max-width: 10px;
          height: 10px;
          border-radius: 50%;
          // position: absolute;
          // right: -13px;
          // // left: -4px;
          margin: 0;
          cursor: pointer;
          transition: transform 0.2s ease;
          &:hover {
            transform: scale(1.5);
          }
        }
        &:hover + .card_details {
          opacity: 1;
          visibility: visible;
          transform: translateX(0);
        }
      }
    }
  }
}
